<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>What's in Season</title>
    <meta name="description" content="Shop smarter by checking what foods are in season right now.">

    <meta property="og:title" content="What's in Season" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://inseason.now.sh/" />

    <link rel="apple-touch-icon" sizes="57x57" href="/images/favicon/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/images/favicon/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/images/favicon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/images/favicon/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/images/favicon/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/images/favicon/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/images/favicon/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/images/favicon/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/images/favicon/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="/images/favicon/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/images/favicon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon/favicon-16x16.png">
    <link rel="manifest" href="/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/images/favicon/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">

    {{ $css := resources.Get "css/app.css" | fingerprint }}
    <link href="{{ $css.Permalink }}" rel="stylesheet">
    
    {{ $js := resources.Get "js/app.js" | fingerprint }}
    <script type="text/javascript" src="{{ $js.Permalink }}" defer></script>
</head>
<body 
    x-data="{ 
        foods: [], 
        all: {{ .Site.Data.data | jsonify }} ,
        month: null
    }" 
    x-init="
        months = [
            'jan',
            'feb',
            'mar',
            'apr',
            'may',
            'jun',
            'jul',
            'aug',
            'sep',
            'oct',
            'nov',
            'dec'
        ];

        monthShortToLong = {
            'jan': 'January',
            'feb': 'February',
            'mar': 'March',
            'apr': 'April',
            'may': 'May',
            'jun': 'June',
            'jul': 'July',
            'aug': 'August',
            'sep': 'September',
            'oct': 'October',
            'nov': 'November',
            'dec': 'December'
        };
        monthShort = months[new Date().getMonth()];
        month = monthShortToLong[monthShort]

        foods = all.filter((food) => { return food.best[monthShort] })
    "

    class="bg-gray-200 flex flex-col items-center"
>
    <div class="max-w-lg rounded-lg px-6 py-4 mt-12 mx-2 bg-white">
        <h1 class="text-center title-font text-4xl text-gray-800">What's in season in <span class="font-medium underline text-purple-600" x-text='month'></span>?</h1>

        <template x-for='(item, index) in foods' :key='item.name'>
            <div class="block flex flex-row justify-between my-4 items-center">
                <p x-text='item.name' class="capitalize inline flex-1"></p>

                <a 
                    :href='"https://www.tesco.com/groceries/en-GB/search?query=" + item.name' 
                    class="inline text-center flex-none mx-2" 
                    target="_blank"
                    rel="noopener"
                    rel="noreferrer"
                >
                    <img src="/images/shops/tesco.jpg" alt="Tesco" class="h-12">
                </a>
                <a 
                    :href='"https://groceries.asda.com/search/" + item.name' 
                    class="inline text-center flex-none mx-2" 
                    target="_blank"
                    rel="noopener"
                    rel="noreferrer"
                >
                    <img src="/images/shops/asda.jpg" alt="Asda" class="h-12">
                </a>
            </div>
        </template>
    </div>
</body>
</html>
