@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import "tailwindcss/screens";
 
.notebook {
    position: relative;
}

.notebook::before {
    content: " ";
    top: 0;
    bottom: 0;
    position: absolute;
    border-left: 1px solid red;
    margin-left: 5rem;

    display: none;
    @screen xs {
        display: block;
    }
}
